<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Hashed password:</b>
  <%=h @user.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%=h @user.salt %>
</p>

<p>
  <b>Can has notifications:</b>
  <%=h @user.can_has_notifications %>
</p>

<p>
  <b>Uid:</b>
  <%=h @user.uid %>
</p>

<p>
  <b>Uname:</b>
  <%=h @user.uname %>
</p>

<p>
  <b>Rid:</b>
  <%=h @user.rid %>
</p>

<p>
  <b>Novel title:</b>
  <%=h @user.novel_title %>
</p>

<p>
  <b>Is admin:</b>
  <%=h @user.is_admin %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>