<% form_for(@user) do |f| %>
  <%= f.error_messages %>
<fieldset>
  <legend>Sign Up</legend>
  <table>
    <tr>
      <td>
        <%= f.label :name %>
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :email %>
      </td>
      <td>
        <%= f.text_field :email %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :password %>
      </td>
      <td>
        <%= f.text_field :password %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :password_confirmation, "Confirm Password" %>
      </td>
      <td>
        <%= f.text_field :password_confirmation %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :can_has_notifications, "Receive notifications?" %>
      </td>
      <td>
        <%= f.check_box :can_has_notifications %><a href="/notifications.html">(more info)</a>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :uid, "Nanowrimo User ID" %>
      </td>
      <td>
        <%= f.text_field :uid %><a href="/nanowrimo_user_id.html">(what's this?)</a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.submit 'Create Your Account' %>
      </td>
    </tr>
  </table>
</fieldset>
<% end %>